/* line 1, sass/estilo.sass */
html {
  margin-left: 15%;
  margin-right: 15%;
  background: grey;
}

/* line 6, sass/estilo.sass */
.parrafos {
  font-family: "Kite One", sans-serif;
}

/* line 9, sass/estilo.sass */
.titulos {
  font-family: "Patrick Hand SC", cursive;
}

/* line 12, sass/estilo.sass */
.descripcion {
  font-family: "Kalam", cursive;
}
