<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manuel Alejandro Suarez</title>
    <link rel="stylesheet" href="../estilos/estilo.css" charset="utf-8">
    <link rel="stylesheet" href="../estilos/normalize.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="">
        <h1>Manuel Alejandro Suarez</h1>
        <h3>Ingeniero de sistemas</h3>
        <div class="">
          <ul>
            <li>Fecha de nacimiento: 25 de Octubre de 1978</li>
            <li>Nacionalidad: Colombia</li>
            <li>Telefono: (571) 8938788</li>
            <li>Movil: (57) (301) 336-4783</li>
            <li>Skype: alejosu</li>
            <li>Pagina web: <a href="http://www.soft-mas.com">www.soft-mas.com</a></li>
            <li>email: <a href="mailto:alejosu@gmail.com?subject=feedback">alejosu@gmail.com</a></li>
            <li>twitter:@softmasco</li>
          </ul>
        </div>
      </div>
      <div class="">
        <figure>
          <img src="" alt="" />
        </figure>
      </div>
    </header>
    <section class="perfil">
      <h2>PERFIL PROFESIONAL</h2>
      <p>
        Ingeniero de sistemas con enfasis en ingenieria y desarrollo de software,
        con experiencia en personalizacion y desarrollo de aplicaciones en Microsoft Dynamics
        AX. Conocimientos en patrones de diseno y lenguajes Java, PHP y C#, asi como en
        frameworks para cada uno de los lenguajes. Amplia experiencia en desarrollo web
        empleando html, css y javascript, y con librerias y herramientas para desarrollo como
        Bootstrap, jquery, sass, stylus y laravel.
        Apasionado por las nuevas tecnologias, entusiasta y comprometido con los proyectos que
        emprende.
      </p>
    </section>
    <section class="educacion">
      <h3>EDUCACION</h3>
      <article class="titulo">
        <h4>Ingenieria de Sistemas</h4>
        <ul>
          <li>Fundacion Universitaria San Martin</li>
          <li>Bogota, Colombia</li>
          <li>2016</li>
        </ul>
      </article>
      <article class="titulo">
        <h4>Ingenieria Electronica</h4>
        <ul>
          <li>Universidad Distrital Francisco Jose de Caldas</li>
          <li>Bogota, Colombia</li>
          <li>VII Semestres</li>
        </ul>
      </article>
      <article class="titulo">
        <h4>Bachillerato</h4>
        <ul>
          <li>Colegio Nacional Nicolas Esguerra</li>
          <li>Bogota, Colombia</li>
          <li>1997</li>
        </ul>
      </article>
    </section>
    <section class="certificaciones">
      <h3>CERTIFICACIONES</h3>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2012 Installation and Configuration (MB6-872)</h4>
        <ul>
          <li>Prometric</li>
          <li>2013</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2012 Development Introduction (MB6-869)</h4>
        <ul>
          <li>Prometric</li>
          <li>2013</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 Enterprise Portal Development (MB6-825)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 MorphX Solution Development (MB6-821)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 Development Introduction (MB6-819)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>SUN Certified Programmer for the Java 2 Platform, SE 6.0</h4>
        <ul>
          <li>Prometric</li>
          <li>2011</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Applying Exceptions, Collections Framework and Input/Output Classes (WJ-2753-SE6)</h4>
        <ul>
          <li>SUN Academic Initiative</li>
          <li>2009</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Understanding the Building Blocks (WJ-2752-SE6)</h4>
        <ul>
          <li>SUN Academic Initiative</li>
          <li>2009</li>
        </ul>
      </article>
    </section>
    <section class="experiencia">
      <article class="trabajo">
        <h4>Arquitecto técnico Microsoft Dynamics AX</h4>
        <ul>
          <li>Caudex IT</li>
          <li>Actualmente</li>
          <li><p>
            Arquitectura y estimación de personalizaciones para Microsoft Dynamics AX 2012 y 2009.
            Acompañamiento en instalación de infraestructura para Microsoft Dynamics AX, Sharepoint, SQL Server,
            Enterprise Portal y AOS.
            Desarrollo y pruebas iniciales de personalizaciones para Microsoft Dynamics AX 2012 y 2009.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Ingeniero Desarrollador</h4>
        <ul>
          <li>Alfapeople Andino S.A.</li>
          <li>Septiembre 2010 - Octubre 2014</li>
          <li><p>
            Acompañamiento en instalación de infraestructura para Microsoft Dynamics AX, Sharepoint, SQL Server,
            Enterprise Portal y AOS.
            Desarrollo y pruebas iniciales de personalizaciones para Microsoft Dynamics AX 4.0, AX 2012 y 2009.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Desarrollador Java</h4>
        <ul>
          <li>Terpel Ltda</li>
          <li>Junio 2009 - Octubre 2010</li>
          <li><p>
            Migración de sistema interno de producción y contabilidad escrito en Informix 4GL a Java, empleando Netbeans Modules.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Analista III de Comercios</h4>
        <ul>
          <li>Banco Davivienda</li>
          <li>Mayo 2006 - Agosto 2008</li>
          <li><p>
            Análisis de cifras de la industria, asignación de tasas de adquirencias a comercios, y facturación.
            Análisis y asignación de métas para ejecutivos y oficinas.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Auxiliar III de Banca Electrónica</h4>
        <ul>
          <li>Bansuperior</li>
          <li>Noviembre 2005 - Mayo 2006</li>
          <li><p>
            Análisis de cifras de la industria, asignación de tasas de adquirencias a comercios, y facturación.
            Análisis y asignación de métas para ejecutivos y oficinas.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Auxiliar II de Banca Electrónica</h4>
        <ul>
          <li>Bansuperior</li>
          <li>Noviembre 2004 - Noviembre 2005</li>
          <li><p>
            Soporte tecnológico a clientes Empresariales en plataforma de Internet para transacciones bancarias a través de canales electrónicos
            (Internet y teléfono), analista de cifras de utilización y diagnostico de canales electrónicos.
            Capacitación a personal de Call center en canales electrónicos.
          </p></li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Auxiliar I de Banca Electrónica</h4>
        <ul>
          <li>Bansuperior</li>
          <li>Noviembre 2003 - Noviembre 2004</li>
          <li><p>
            Soporte tecnológico a clientes en plataforma de Internet para transacciones bancarias a través de canales electrónicos
            (Internet y teléfono), analista de cifras de utilización y diagnostico de canales electrónicos.
          </p></li>
        </ul>
      </article>
    </section>
    <section class="referencias">
      <article class="trabajo">
        <h4>Alejandro Lombana Pérez</h4>
        <ul>
          <li>Ingeniero Electrónico</li>
          <li>Movil: (57) (319)248-6614</li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Camilo Ernesto Ardila</h4>
        <ul>
          <li>Ingeniero Electrónico</li>
          <li>Movil: (57) (316)529-3547</li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Juan Carlos Jaimes Bayona</h4>
        <ul>
          <li>Ingeniero de Sistemas</li>
          <li>Movil: (56) 9 6368 4553</li>
        </ul>
      </article>
      <article class="trabajo">
        <h4>Monica Ballen Prieto</h4>
        <ul>
          <li>Ingeniera de Alimentos</li>
          <li>Movil: (57) (310)262-5892</li>
        </ul>
      </article>
    </section>
  </body>
</html>
