<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manuel Alejandro Suarez</title>
    <link rel="stylesheet" href="../estilos/estilo.css" charset="utf-8">
  </head>
  <body>
    <header>
      <div class="">
        <h1>Manuel Alejandro Suarez</h1>
        <h3>Ingeniero de sistemas</h3>
        <div class="">
          <ul>
            <li>Fecha de nacimiento: 25 de Octubre de 1978</li>
            <li>Nacionalidad: Colombia</li>
            <li>Telefono: (571) 8938788</li>
            <li>Movil: (57) 3013364783</li>
            <li>Skype: alejosu</li>
            <li>Pagina web: <a href="http://www.soft-mas.com">www.soft-mas.com</a></li>
            <li>email: <a href="mailto:alejosu@gmail.com?subject=feedback">alejosu@gmail.com</a></li>
            <li>twitter:@softmasco</li>
          </ul>
        </div>
      </div>
      <div class="">
        <figure>
          <img src="" alt="" />
        </figure>
      </div>
    </header>
    <section class="perfil">
      <h2>PERFIL PROFESIONAL</h2>
      <p>
        Ingeniero de sistemas con enfasis en ingenieria y desarrollo de software,
        con experiencia en personalizacion y desarrollo de aplicaciones en Microsoft Dynamics
        AX. Conocimientos en patrones de diseno y lenguajes como Java, PHP y C#, asi como en
        frameworks para cada uno de los lenguajes. Amplia experiencia en desarrollo web
        empleando html, css y javascript, y con librerias y herramientas para desarrollo como
        Bootstrap, jquery, sass, symphony y laravel.
        Apasionado por las nuevas tecnologias, entusiasta y comprometido con los proyectos que
        se emprenden.
      </p>
    </section>
    <section class="educacion">
      <h3>EDUCACION</h3>
      <article class="titulo">
        <h4>Ingenieria de Sistemas</h4>
        <ul>
          <li>Fundacion Universitaria San Martin</li>
          <li>Bogota, Colombia</li>
          <li>2016</li>
        </ul>
      </article>
      <article class="titulo">
        <h4>Ingenieria Electronica</h4>
        <ul>
          <li>Universidad Distrital Francisco Jose de Caldas</li>
          <li>Bogota, Colombia</li>
          <li>VII Semestres</li>
        </ul>
      </article>
      <article class="titulo">
        <h4>Bachillerato</h4>
        <ul>
          <li>Colegio Nacional Nicolas Esguerra</li>
          <li>Bogota, Colombia</li>
          <li>1997</li>
        </ul>
      </article>
    </section>
    <section class="certificaciones">
      <h3>CERTIFICACIONES</h3>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2012 Installation and Configuration (MB6-872)</h4>
        <ul>
          <li>Prometric</li>
          <li>2013</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2012 Development Introduction (MB6-869)</h4>
        <ul>
          <li>Prometric</li>
          <li>2013</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 Enterprise Portal Development (MB6-825)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 MorphX Solution Development (MB6-821)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Microsoft Dynamics AX 2009 Development Introduction (MB6-819)</h4>
        <ul>
          <li>Prometric</li>
          <li>2012</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>SUN Certified Programmer for the Java 2 Platform, SE 6.0</h4>
        <ul>
          <li>Prometric</li>
          <li>2011</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Applying Exceptions, Collections Framework and Input/Output Classes (WJ-2753-SE6)</h4>
        <ul>
          <li>SUN Academic Initiative</li>
          <li>2009</li>
        </ul>
      </article>
      <article class="certificacion">
        <h4>Understanding the Building Blocks (WJ-2752-SE6)</h4>
        <ul>
          <li>SUN Academic Initiative</li>
          <li>2009</li>
        </ul>
      </article>
    </section>
    <section class="experiencia">

    </section>
    <section class="referencias">

    </section>
  </body>
</html>
